@import url('../vendor/normalize.css');
@import url('./constants.css');

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

body {
  background-color: #0c102d;
  font-family: var(--Inter);
  color: var(--clean);
  font-size: var(--p1);
}

ul {
  list-style: none;
}
